body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(28, 28, 28);
}

.topbar a {
  text-decoration: none;
  margin: 0 20px; 
  color: rgb(178, 178, 178);
  cursor: pointer;
  font-weight: bold;
}

.topbar a:hover {
  text-decoration: underline;
  color: white;
}

.my-container {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(#6c757d, #6c757d2e), url("https://images.unsplash.com/photo-1481437156560-3205f6a55735?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1795&q=80");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  color: white;
}
.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.about {
  width: 70%;
  border: solid 1rem rgba(128, 128, 128, 0.619);
  border-radius: 2rem;
}